/* div, section, article, nav, aside, main, h1, ul, img {
	outline: 1px solid green;
} */

.clearfix::before,
.clearfix::after,
.container::before,
.container::after {
    content:'';
    display:table;
    clear:both;
}

.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-checked {
    width: 12px;
    height: 12px;
    background-position: -10px -10px;
}

.sprite-fb {
    width: 12px;
    height: 22px;
    background-position: -10px -42px;
}

.sprite-fb-copy {
    width: 12px;
    height: 22px;
    background-position: -5px -79px;
}

.sprite-inst {
    width: 21px;
    height: 21px;
    background-position: -10px -116px;
}

.sprite-inst-copy {
    width: 21px;
    height: 21px;
    background-position: -5px -152px;
}

.sprite-login {
    width: 18px;
    height: 16px;
    background-position: -10px -188px;
}

.sprite-vk {
    width: 25px;
    height: 16px;
    background-position: -10px -224px;
}

.sprite-vk-copy {
    width: 25px;
    height: 16px;
    background-position: -5px -255px;
}

body {
	min-width: 960px;
	
	font-family: 'PT Sans Narrow', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	
	background: #000000;
}

h1,
h2 {
	
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.main-header {
	margin-bottom: 60px;
	
	color: #ffffff;
  
	background-color: #000000;
}

.main-navigation {
	overflow: hidden;
}

.main-navigation ul {
	margin: 0;
	padding: 0;
	
	list-style: none;
	font-size: 0;
}

.main-navigation li {
	display: inline-block;
	
	vertical-align: top;
	font-size: 16px;
	line-height: 20px;
	vertical-align: top;
}

.main-navigation a {
	display: block;
	padding: 25px 20px;

	color: #ffffff;
	text-decoration: none;
}

.main-navigation a:hover {
	background-color: #242424;
}

.user-block {
	float: right;
	max-width: 140px;
}

.login {
	position: relative;
	
	display: inline-block;
	padding: 25px 20px;
	padding-left: 50px;
	
	font-size: 16px;
	line-height: 20px;
	vertical-align: top;
	color: #ffffff;
	text-decoration: none;
}

.login:hover {
	background-color: #242424;
}

.login::before {
	content: '';
	position: absolute;
	top: 28px;
	left: 28px;
	
	width: 18px;
	height: 16px;
	
	background: transparent url("../img/spritesheet.png") no-repeat -10px -188px;
	opacity: 0.3;
}

.login:hover::before {
	opacity: 1;
}

.main-footer {
	padding-top: 60px;
	padding-bottom: 40px;
	
	color: #ffffff; 

	background: #252525 url("../img/pattern-black.png");
}

.footer-contacts {
	float: left;
	width: 320px;
	margin-right: 60px;
}

.footer-contacts a {
	color: #ffffff;
}

.footer-contacts a:hover {
	text-decoration: none;
}

.footer-social {
	float: left;
	width: 180px;
	
	text-align: center;
}

.footer-copyright {
	float: right;
	max-width: 180px;
	
	text-align: center;
}

.footer-copyright .btn {
	margin-right: 0;
}

.footer-copyright .btn:hover {
	color: #000000;

	background-color: #ffffff;
}

.footer-social p {
	margin: 0;
	margin-bottom: 15px;	
}

.footer-copyright p {
	margin: 0;
	margin-bottom: 15px;

	text-align: center;
}

.social-btn {
	position: relative;
	display: inline-block;
	width: 43px;
	height: 43px;
	margin: 0 2px;
	
	font-size: 0;
	vertical-align: top;
	text-decoration: none;

	background: #000000;
}

.social-btn:hover {
	background-color: #ffffff;
}

.social-btn::before {
	content: '';
	
	position: absolute;
	top: 50%;
	left: 50%;
	
	transform: translate(-50%, -50%);
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
}

.social-btn-vk::before {
	width: 25px;
    height: 16px;
    background-position: -10px -224px;
}

.social-btn-fb::before {
	width: 12px;
    height: 22px;
    background-position: -10px -42px;
}

.social-btn-inst::before {
	width: 21px;
    height: 21px;
    background-position: -10px -116px;
}

.social-btn-vk:hover::before{
	width: 25px;
    height: 16px;
    background-position: -5px -255px;
}

.social-btn-fb:hover::before {
	width: 12px;
    height: 22px;
    background-position: -5px -79px;
}

.social-btn-inst:hover::before {
	width: 21px;
    height: 21px;
    background-position: -5px -152px;
}

.btn {
	display: inline-block;
	margin-right: 16px;
	padding: 10px 33px;
	
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	vertical-align: top;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
  
	background-color: #000000;
	border: none;
	outline: none;
	cursor: pointer;
}

.btn:hover,
.btn:active {
	background-color: #663d15;
}

.btn.disabled,
.btn:disabled {
	cursor: default;
	opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
	background-color: #000000;
}

/* главная */

.main-page {
	background: #000000 url(../img/bg.jpg) no-repeat center top;
}

.index-logo {
	width: 368px;
	height: 204px;
	margin: 0 auto;
	margin-bottom: 25px;
}

.index-logo img {
	width: 368px;
	height: 204px;
}

.features {
	margin-bottom: 80px;
}

.features-item {
	float: left;
	width: 300px;
	margin-right: 20px;
	
	text-align: center;
}

.features-item:nth-child(3n) {
	margin-right: 0;
}

.features-name {
	position: relative;

	display: block;
	padding-bottom: 35px;
	margin-bottom: 30px;

	font-size: 30px;
	line-height: 42px;
}

.features-name::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;

	display: block;
	width: 20px;
	height: 20px;
	margin-left: -10px;

	background-color: #ffffff;
	transform: rotate(45deg);
}

.features-item p {
	margin: 10px;
	margin-bottom: 0;
}

.index-content {
	padding: 50px 80px;
	margin-bottom: 35px;
	
	color: #000000;
	
	background: 
		url("../img/content-delimiter.png") no-repeat center,
		#f8f5f2 url("../img/bg_content.png");
}

.index-content:last-child {
	margin-bottom: 65px;
}

.index-content-left {
	float: left;
	width: 380px;
}

.index-content-right {
	float: right;
	width: 300px;
}

.index-content-title {
	margin: 0;
	margin-bottom: 25px;
	
	font-size: 30px;
	line-height: 42px;
}

.index-content p {
	margin: 0;
	margin-bottom: 25px;
}

.news-preview {
	margin: 0;
	padding: 0;
	padding-right: 35px;
	
	list-style: none;
}

.news-preview li {
	margin-bottom: 25px;
}

.news-preview p {
	margin-bottom: 0;
}

.news-preview time {
	text-transform: none;
}

.gallery {
	position: relative;

	height: 260px;
}

.gallery-content {
	height: 164px;
	margin: 0;
	
	background-color: #cccccc;
	border: 7px solid #ffffff;
}

.gallery-content img {
	width: 286px;
	height: 164px;
}

.gallery .btn {
	position: absolute;
	bottom: 0;

	width: 140px;
	margin: 0;
}

.gallery-prev {
	left: 0;
}

.gallery-next {
	right: 0;
}

.appointment-form input {
	float: left;
	width: 106px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 7px 15px;

	font: inherit;
	color: inherit;
	text-transform: inherit;
  
	background-color: #f9f6f3;
	border: 2px solid #000000;
	outline: none;
}

.appointment-form input:focus {
	border: 2px solid #663d15;
}

.appointment-form input:nth-child(2n) {
	margin-right: 0;
}

.appointment-form .btn {
	clear: both;
	width: 100%;
}

/* внутренние страницы*/

.inner-page {
	color: #000000;
	background: #f8f5f2;
}

.header-logo {
	float: left;
	width: 111px;
	height: 24px;
	margin-top: 23px;
}

.main-title {
	margin: 0;
	margin-bottom: 25px;
	
	font-size: 30px;
}

.breadcrumbs {
	margin: 0;
	margin-bottom: 60px;
	padding: 0;
	
	font-size: 0;
	
	list-style: none;
	
}

.breadcrumbs li {
	display: inline-block;
	margin: 0;
	padding: 0;
	
	font-size: 14px;	
	vertical-align: top;
}

.crumb {
	position: relative;
	margin-right: 15px;
	padding-right: 25px;
	
	text-decoration: none;
	color: #000000;
}

.crumb::after {
	content: '';
	
	position: absolute;
	right: 0;
	top: 50%;
	width: 8px;
	height: 8px;
	
	background: #000000;
	transform: translateY(-50%) rotate(45deg);
}

.disabled-crumb {
	color: #aba9a7;
}

.disabled-crumb::after {
	content: none;
}

/* каталог */

.shop-content-main {
	float: right;
	width: 700px;
}

.shop-content-left {
	float: left;
	width: 220px;
}

.product-list {
	margin-bottom: 35px;
	font-size: 0;
}

.product {
	display: inline-block;
	width: 220px;
	min-height: 285px;
	margin-right: 20px;
	margin-bottom: 20px;
	
	vertical-align: top;
	font-size: 14px;
	
	background: #ffffff;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.product:nth-child(3n) {
	margin-right: 0;
}

.product-photo {
	margin-bottom: 15px;
}

.product-name {
	display: block;
	margin: 15px;

	font-size: 14px;
	line-height: 18px;
	text-decoration: none;
	font-size: 14px;
	color: #000000;
}

.product-name .type,
.product-name .brand {
	display: block;
}

.product-name .type {
	text-transform: none;
}

.product-sale {
	margin: 15px;
}

.product-price {
	display: block;
	padding: 10px 0;
	
	text-align: center;
	
	background: #e5e5e5;
}

.product-btn {
	float: right;
	margin-right: 0;
	padding: 10px 15px;
}

.pages {
	margin: 0;
	margin-bottom: 45px;
	padding: 0;
	
	list-style: none;
}

.page {
	display: inline-block;
	margin-right: 4px;
	
	color: #ffffff;
	text-align: center;
	line-height: 43px;
	
	background: #000000;
}

.page a {
	display: block;
	width: 43px;
	height: 43px;
	
	color: #ffffff;
	text-align: center;
	line-height: 43px;
	text-decoration: none;
}

.page.active a {
	color: #000000;
	
	background: #ffffff;
	
	pointer-events: none;
	cursor: default;
}

.page:not(.active) a:hover {
	background: #663d15;
}

.form-block {
	margin: 0;
	padding: 0;
	
	border: none;
}

.filter legend {
	margin-bottom: 30px;
	
	font-size: 24px;
}

.filter-block {
	margin-bottom: 35px;
}

.filter-block input[type="checkbox"] {
	display: none;
}

.filter-block label {
	position: relative;
	display: block;
	margin-bottom: 18px;
	padding-left: 40px;
	
	line-height: 20px;
}

.filter-block label:hover {
	color: #663d15;
}

.filter-block label::before {
	content: '';
	
	position: absolute;
	top: 0;
	left: 0;
	
	width: 16px;
	height: 16px;
	border: 2px solid #000000;
}

.filter-block input[type="checkbox"]:checked + label::before {
	background: transparent url("../img/spritesheet.png") no-repeat -8px -8px;
}

.filter-block input[type="checkbox"]:disabled + label {
	opacity: 0.2
}

.group-block {
	margin-bottom: 160px;
}

/* карточка товара*/

.item-photo {
	float: left;
	width: 460px;
	font-size: 0;
	line-height: 0;
	margin-bottom: 50px;
}

.item-photo .item-preview {
	width: 140px;
	margin-right: 20px;
}

.item-photo .item-preview:nth-child(3n) {
	margin-right: 0;
}

.item-info {
	float: right;
	width: 380px;
	padding: 0 10px;
	margin-bottom: 50px;
	margin-bottom: 50px;
}

.item-params .available {
	float: left;
}

.item-params .product-code {
	float: right;
}