div, section, article, nav, aside, main, h1, ul {
	outline: 1px solid green;
}

.clearfix::before,
.clearfix::after,
.container::before,
.container::after {
    content:'';
    display:table;
    clear:both;
}

body {
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #000;
	font-weight: normal;
}

h1,
h2 {
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-size: 30px;
	line-height: normal;
	color: #000;
	font-weight: normal;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.main-header {
	margin-bottom: 60px;
}

.main-navigation {
	overflow: hidden;
}

.user-block {
	float: right;
	width: 140px;
}

.main-footer {
	padding-top: 60px;
	padding-bottom: 40px;
}

.footer-contacts {
	float: left;
	width: 320px;
	margin-right: 60px;
}

.footer-social {
	float: left;
	width: 180px;
}

.footer-copyright {
	float: right;
	width: 180px;
}

/* главная */

.index-logo {
	width: 368px;
	height: 204px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px;
}

.features {
	margin-bottom: 80px;
}

.features-item {
	float: left;
	width: 300px;
	margin-right: 20px;
}

.features-item:nth-child(3n) {
	margin-right: 0;
}

.index-content {
	padding: 50px 80px;
	margin-bottom: 35px;
}

.index-content:last-child {
	margin-bottom: 65px;
}

.index-content-left {
	float: left;
	width: 380px;
}

.index-content-right {
	float: right;
	width: 300px;
}

/* внутренние страницы*/

.header-logo {
	float: left;
	width: 111px;
	height: 24px;
}

.main-title {
	margin-bottom: 25px;
}

.breadcrumbs {
	margin-bottom: 60px;
}

/* каталог */

.shop-content-main {
	float: right;
	width: 700px;
}

.shop-content-left {
	float: left;
	width: 220px;
}

.product-list {
	margin-bottom: 45px;
	font-size: 0;
}

.product {
	display: inline-block;
	vertical-align: top;
	width: 220px;
	min-height: 285px;
	margin-right: 20px;
	font-size: 14px;
}

.product:nth-child(3n) {
	margin-right: 0;
}



.pages {
	margin-bottom: 45px;
}